.banner-1 {
  width: 100vw;
  cursor: pointer;
}
.new-in-headding {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 45px;
}
.navigation-button {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.navigation-button button {
  border: none;
  padding: 4px;
  background-color: white;
  cursor: pointer;
}
.navigation-button button:hover {
  background-color: gray;
  border-radius: 2px;
}
.bottom-banner img {
  width: 100vw;
  margin: 50px 0px;
}
